#projects {
    padding: 100px 0;
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 8px;
    /* padding: 15px; */
}

.project-card:hover {
    box-shadow: 0 10px 30px rgba(255, 192, 203, 0.3)
}

.project-card.dimmed {
    opacity: 0.4;
}

.project-image {
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    /* padding-left: 0; */
}

.project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    transition: color 0.3s ease; 
}

.project-card:hover h3 {
    color: pink;
}

.project-card p {
    font-size: 15px;
    line-height: 1.6;
    color: #e6e6e6;
    margin-bottom: 15px;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-tag {
    background-color: rgba(255, 192, 203, 0.2);
    color: pink;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 13px;
}


/* _______________________________________Responsiveness */

@media (max-width: 1024px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-content {
    order: 1;
  }

  .project-image {
    order: 2;
    width: 100%;
    height: 80px;
  }
}