#about {
    padding: 100px 0 0 0;
    /* max-width: 700px; */
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #e6e6e6;
}

.about-content p:last-child {
    margin-bottom: 0;
}


/* _______________________________________Responsiveness */

@media (max-width: 1024px) {
    
#about {
    padding-top: 50px;
}
}