.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 20px;
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    color: #ffff;
    transition: all 0.3s ease;
    display: inline-block;
}

ul li a:hover {
    color: pink;
    transform: translateX(20px);
}

ul li a.active {
    color: pink;
    font-weight: 500;
    transform: translateX(20px);
}


.nav-header {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

