
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.sidebar ul li a {
    color: #e6e6e6;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.sidebar ul li a:hover {
    color: pink;
    transform: translateX(20px);
}

.sidebar ul li a.active {
    color: pink;
    font-weight: 500;
    transform: translateX(20px);
}


.nav-header {
    padding-left: 20px;
    letter-spacing: 1px;
}

.nav-header h3 {
    font-size: 32px;
}

.nav-header h5 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

.nav-header p {
    font-size: 12px;
    color: pink;
    margin-top: 10px;
    width: 300px;
}

.social-icons {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

.social-icons a {
    color: #e6e6e6;
}

.social-icons a:hover {
    color: pink;
}


/* _______________________________________Responsiveness */

@media (max-width: 1024px) {
  .sidebar ul {
    display: none;
  }
}
.sidebar {
    padding-left: 0;
}

.nav-header {
    padding-left: 0;
}

.social-icons {
    padding-left: 0;
}