* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  border: 1px solid red;
  width: 400px;
  height: 100vh;
  position: fixed;
  background-color: #0a192f ;
  color: #ffffff;
  padding: 20px;
}

.main-content {
  border: 1px solid blue;
  height: 100vh;
  margin-left: 400px;
  background-color: #0f2847;
  color: #ffffff;
  padding: 20px;
}