@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #e6e6e6;
  background: linear-gradient(135deg, #0a192f 0%, #020c1b 100%);
  background-attachment: fixed;
  min-height: 100vh;
  /* overflow-x: hidden; */
}

.app-container {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 0 70px; 
}

.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  background: transparent; 
  box-sizing: border-box;
}

.main-content {
  max-width: 750px;
  margin-left: 450px;
  /* margin-right: 50px; */
  min-height: 100vh;
  background: transparent; 
}

.section-title {
  display: none;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/* _______________________________________Responsiveness */

@media (max-width: 1024px) {
  .app-container {
    padding: 0 30px;
  }

  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    padding: 40px 10px;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
  }

  .section-title {
    display: block;
  }

  .social-icons {
    margin-top: 30px;
  }

}